@import url('https://fonts.googleapis.com/css?family=Raleway');

ol {
	border: 1px solid black;
	padding-bottom: 25px;
	margin-right: 1390px;
	background-color: #F7FCFB;
}

a:link {
	color: black;
}

a:visited {
	color: skyblue;
}

a:hover {
	text-decoration: none;
}

a:active {
	background-color: black;
    color: white;
    padding: 3px 5px;
}

body {
	font-family: "Raleway", arial;
}

h1 {
	color: #57102C;
}

#ol1 {
	column-count: 2;
	margin-right: 500px;
	background-color: white;
	border:0px;
	column-rule-width: 10px;
}

figure {
	border: 1px solid black;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
	margin-right: 1340px;
}


